
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="planter.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">
 
<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
  updateSolid();
}

function updateSolid()
{
  gProcessor.setJsCad();
}

</script>
<title>Planter</title>  
</head>
<body onload="onload()"  class="pg">

<script>OpenScene('template');</script>
<script>HiddenLink();</script>

<table class="TTT" ><td class="hd" colspan=2><center>
<h1>Stackable box for laser cutter</h1>
</td><tr>

<td width="50%" valign="top" class="tableleft">

<div id="viewer"></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT" cellspacing=0><!--  Parameter Table --> 
	<Td colspan=2 class="bt"><b>Parameters:</b></td>
<TR>
	<Td>Width:<span style="float:right;"><input id="sizeW" value="250" size="2"></span></td>
    <Td>Tabs along width:<span style="float:right;"><input id="sizeTNW" value="4" size="2"></span></td>
<tr>
	<Td>Depth:<span style="float:right;"><input id="sizeD" value="150" size="2"></span></td>
    <Td>Tabs along depth:<span style="float:right;"><input id="sizeTND" value="3" size="2"></span></td>
<tr>
	<Td>Height:<span style="float:right;"><input id="sizeH" value="80" size="2"></span></td>
    <Td>Tabs along height:<span style="float:right;"><input id="sizeTNH" value="2" size="2"></span></td>
<tr>
    <Td>Material Thickness:<span style="float:right;"><input id="sizeT" value="3" size="2"></span></td>
    <Td>Bracing<span style="float:right;"><input type="checkbox" checked id="brace" value="True"></span></td>
<tr>
    <Td colspan=2>Stackable<span style="float:right;"><input type="checkbox" checked id="stackable" value="True"></span></td>
</table>
</td>
<tr class="bt">
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>


</td>


</table>


</body>
</html>
