
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="tubetosquare.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">
  
<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
parametersLoader();
}

function updateSolid()
{
  gProcessor.setJsCad();
}


</script>
<title>Tube to Square Profile Connector</title>  
</head>
<body onload="onload()" class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');

</script>
<script>OpenScene('template');</script>
<script>HiddenLink();</script>

<table class="TTT" ><td class="hd" colspan=2><center>

<h1>Tube to Square Profile Connector</h1>

</td><tr>

<td width="50%" valign="top" class="tableleft">

<div id="viewer"></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT">
	<Td colspan=2 bgcolor=EDD99C class="yellow"><b>Parameters:</b></td>

<Tr>
    <Td    colspan=1>Distance between tubes <B>(A)<span style="float:right;"><input id="Dist" value="20" size="2"></span></td>
     
    <Td    colspan=1>Cone thickness <B>(B)<span style="float:right;"><input id="ConeT" value="2" size="2"></span></td>

<Tr>

	<Td  class="yellow" colspan=2><b>Tube Profile:</td>

<Tr>

	<Td   >Outer diameter:<span style="float:right;"><input id="OuterD2" value="32" size="2"></span></td>
	 
	<td rowspan=2><center> <img src="diameters.png" height=50></td>

<tr>
    
	<Td  style="border-width: 0px 2px 2px 0px;">Inner diameter:<span style="float:right;"><input id="InnerD2" value="28" size="2"></span></td>
	 

<tr>
	<Td  class="yellow" colspan=2><b>Square Profile:</td>

<Tr>

	<Td   >Outer square edge:<span style="float:right;"><input id="OuterD" value="42" size="2"></span></td>
	 
	<td rowspan=2><center> <img src="square.png" height=50></td>


<tr>
    
	<Td  style="border-width: 0px 2px 2px 0px;">Profile thickness:<span style="float:right;"><input id="InnerTD" value="2" size="2"></span></td>
	 

<Tr>
	<Td  class="yellow"><b>Wall Parameters:<span style="float:right;"><b> Tube </span></td>
	 
	<Td  class="yellow"><span style="float:right;"><b> Square Profile </span></td>

<Tr>
	<Td  ><input type="checkbox" id="OuterW2" checked>Outer wall<br>
	<input type="checkbox" id="InnerW2" checked>Inner wall</td>
	 
	<Td  ><input type="checkbox" id="OuterW" checked>Outer wall<br>
	<input type="checkbox" id="InnerW" >Inner wall</td>

<tr>	
	<Td  >Wall height <B>(C)<span style="float:right;"><input id="WallH2" value="10" size="2"></td>
	 
	<Td  ><span style="float:right;"><input id="WallH" value="10" size="2"></td>

<Tr>
	<Td  >Wall thickness <B>(D)<span style="float:right;"><input id="WallT2" value="2" size="2"></span></td>
	 
	<Td  ><span style="float:right;"><input id="WallT" value="2" size="2"></span></td>

<Tr>
	<Td  >Chamfer distance <B>(E)<span style="float:right;"><input id="Chamfer2" value="1" size="2"></span></td>
	 
	<Td  ><span style="float:right;"><input id="Chamfer" value="1" size="2"></span></td>

<Tr>
	<Td  >Tolerance <B>(F)<span style="float:right;"><input id="Tolerance2" value="0.3" size="2"></span></td>
	
	<Td  ><span style="float:right;"><input id="Tolerance" value="0.3" size="2"></span></td>

<Tr>
	<Td colspan=2 valign="middle" background=""><center>
    <img src="tubingB.png" height=135 valign=middle></td>




</table>
</td>
<tr class="bt">
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>
<script>PutExamples("tubetosquare",4,4,190); </script></center>
</td>


</table>
</div></div>

</body>
</html>
