
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="tubethreadcap.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">
  
<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
parametersLoader();
}

function updateSolid()
{
  gProcessor.setJsCad();
}


</script>
<title>Tube Threaded Cap</title>  
</head>
<body onload="onload()" class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');

</script>
<script>OpenScene('template');</script>
<script>HiddenLink();</script>

<table class="TTT" ><td class="hd" colspan=2><center>
<h1>Tube Threaded Cap</h1>

</td><tr>

<td width="50%" valign="top" class="tableleft">

<div id="viewer"></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT">
	<Td colspan=2 bgcolor=EDD99C class="yellow"><b>Tube Profile:</b></td>

<Tr>
	<Td  >Outer diameter:<span style="float:right;"><input id="OuterD" value="32" size="2"></span></td>
	 
	<td rowspan=2><center> <img src="diameters.png" height=50></td>

<tr>
    <Td style="border-width: 0px 2px 2px 0px;" >Inner diameter:<span style="float:right;"><input id="InnerD" value="28" size="2"></span></td>
	 

<Tr>
	<Td colspan=2 bgcolor=EDD99C class="yellow"><b>Cap Parameters:</b></td>

<Tr>
	<Td  >Tube side cap Thickness <b>(A)<span style="float:right;"><input id="BottomT" value="2" size="2"></span></td>
	 
	<Td   >Head Thickness<span style="float:right;"><input id="HeadT" value="10" size="2"></span></td>

	
<Tr>
	<Td   rowspan=2><input type="checkbox" id="OuterW" checked>Outer wall<br>
	<input type="checkbox" id="InnerW" checked>Inner wall</td>
	 
	<Td  >Wall height <b>(B)<span style="float:right;"><input id="WallH" value="15" size="2"></td>

<Tr>
	 
	<Td  >Wall thickness <b>(C)<span style="float:right;"><input id="WallT" value="1.5" size="2"></span></td>

<Tr>
	<Td  >Chamfer distance <b>(D)<span style="float:right;"><input id="Chamfer" value="1" size="2"></span></td>
	 
	<Td  >Tolerance <b>(E)<span style="float:right;"><input id="Tolerance" value="0.2" size="2"></span></td>

<Tr>
	<Td colspan=2 valign="middle" background=""><center>
    <img src="tubingA.png" height=90 valign=middle></td>

<Tr>
	<Td colspan=2 bgcolor=EDD99C class="yellow"><b>Thread Parameters:</b></td>

<Tr>
	<Td style="border-width: 0px 2px 2px 0px;" >Pitch <b>(P)<span style="float:right;"><input id="Pitch" value="4" size="2"></span></td>
	 
	<td rowspan=5  style="border-width: 0px 0px 0px 0px;"><center><img src="thread.png" height=120 valign=middle></td>

<tr>
	<Td style="border-width: 0px 2px 2px 0px;" >Rounds<span style="float:right;"><input id="Rounds" value="2.5" size="2"></span></td>
	 
  
<Tr>
	<Td style="border-width: 0px 2px 2px 0px;" >Wall thickness <b>(F)<span style="float:right;"><input id="ThreadWall" value="1.5" size="2"></span></td>
	 

<Tr>
	<Td style="border-width: 0px 2px 2px 0px;" >Wall extra height <b>(G)<span style="float:right;"><input id="Extra" value="0" size="2"></span></td>
	 

<Tr>
	<Td  style="border-width: 0px 2px 0px 0px;" >Thread Tolerance <b>(T)<span style="float:right;"><input id="ThreadTolerance" value="0.3" size="2"></span></td>
     

	

</table>
</td>
<tr  class="bt">
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>
<script>PutExamples("tubethreadcap",4,4,190); </script></center>
</td>


</table>
</div></div>

</body>
</html>
