
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="bearing.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">
  
<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
parametersLoader();
}

function updateSolid()
{
  gProcessor.setJsCad();
}


</script>
<title>Bearing</title>  
</head>
<body onload="onload()" class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');

</script>
<script>OpenScene('template');</script>
<script>HiddenLink();</script>

<table class="TTT" ><td class="hd" colspan=2><center>
<h1>Bearing</h1>

</td><tr>

<td width="50%" valign="top" class="tableleft">

<div id="viewer"></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT">
	<Td colspan=2 bgcolor=EDD99C class="yellow"><b>Parameters:</b></td>
<Tr>
	<Td>Outer diameter:<span style="float:right;"><input id="OuterD" value="22" size="2"></span></td>
	<Td>Inner diameter:<span style="float:right;"><input id="InnerD" value="8" size="2"></span></td>
<Tr>
	<Td colspan=2>Height<span style="float:right;"><input id="H" value="7" size="2"></span></td>
<Tr>
	<Td  colspan=2>Free movement space<b> (A)<span style="float:right;"><input id="T" value="0.5" size="2"></td>
<tr>
	<Td  colspan=2>Rolling point space<b> (B)<span style="float:right;"><input id="P" value="0.2" size="2"></span></td>
<Tr>
	<Td colspan=2>Minimum wall thickness<span style="float:right;"><input id="M" value="1" size="2"></span></td>
<tr>
	<Td colspan=2 bgcolor=EDD99C class="yellow"><b>Flange:</b></td>
<Tr>
	<Td>Flange width<span style="float:right;"><input id="fW" value="0" size="2"></td>
	<Td>Flange height<span style="float:right;"><input id="fH" value="0" size="2"></span></td>	
<tr>
	<td  colspan=2><center><img src="bearingA.png" width=300></td>
	
	

</table>
</td>
<tr  class="bt">
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>
<script>PutExamples("bearing",4,4,190); </script></center>
</td>


</table>
</div></div>

</body>
</html>
