<!DOCTYPE html>
<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="angle_bracket.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">


<script>
var gProcessor=null;
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
  parametersLoader();
  //updateSolid();
}

function updateSolid()
{
  gProcessor.setJsCad();
}

</script>
<title>Angle Bracket Template</title>
</head>

<body onload="onload()" class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');
</script>

<script>OpenScene('template');</script>
<script>HiddenLink();</script>

<table class="TTT" ><td class="hd" colspan=2><center>
<h1>Angle Bracket</h1></td><tr>

<td width="50%" valign="top" class="tableleft"><div id="viewer"></div></td>

<td valign=top width="50%" padding=0 class="PRMS">

<!--  Parameter Table -->

<table class="TTT" cellspacing=0>
	<Td colspan=2 class="yellow"><b>Parameters</b></td>
<tr>
	<Td>Thickness:<span style="float:right;"><input class="inputA" id="thick" value="3"></span></td>
	<Td>Width:<span style="float:right;"><input id="width" value="40" size="2"></span></td>
<Tr>
	<Td>Corner radius: <span style="float:right;"><input id="rad" value="4" size="2"></span></td>
	<Td></td>
<Tr>
	<Td class="yellow"><b>Sides:<span style="float:right;">- - A - -</span></td>
	<Td class="yellow"><span style="float:right;"><b>- - B - -</span></td>
<Tr>
	<Td>Height (1)<span style="float:right;"><input id="Alen" value="30" size="2"></span></td>
	<Td><span style="float:right;"><input id="Blen" value="20" size="2"></span></td>
<Tr>
	<Td>Hole diameter<span style="float:right;"><input id="AholeD" value="3" size="2"></span></td>
	<Td><span style="float:right;"><input id="BholeD" value="3" size="2"></span></td>
<Tr>
	<Td>Location of holes (2)<span style="float:right;"><input id="Aholeh" value="24" size="2"></span></td>
	<Td><span style="float:right;"><input id="Bholeh" value="16" size="2"></span></td>
<Tr>
	<Td>Dist. between holes (3)<span style="float:right;"><input id="Aholed" value="20" size="2"></span></td>
	<Td><span style="float:right;"><input id="Bholed" value="30" size="2"></span></td>
<Tr>
	<Td>Number of holes<span style="float:right;"><input id="AholeN" value="2" size="2"></span></td>
	<Td><span style="float:right;"><input id="BholeN" value="2" size="2"></span></td>
<Tr>
	<Td colspan=2 class="yellow"><b>Ribs:</b></td>
<Tr>
	<Td><input type="checkbox" id="withribs" checked>With ribs</td>
	<Td><input type="checkbox" id="ribsequal" checked>Equal ribs (45 angle)</td>
<Tr>
	<Td>Rib thickness: <span style="float:right;"><input id="ribThick" value="2" size="2"></span></td>
	<Td>Number of ribs: <span style="float:right;"><input id="ribN" value="2" size="2"></span></td>
<Tr>
	<Td colspan=2>Rib size: <input type="range" id="ribsize" min="0" max="100" step="5"></td>
<Tr>
	<Td colspan=2 valign="bottom">
	<span style="float:right;"><img src="angle_bracket_location.png" height=100 valign=middle></td>
</table>

<!--  End of Parameter Table -->

</td>
<tr class="bt">
<td colspan=2 >

<b>Examples: (click to edit)</b><br><center>
<script> PutExamples('angle_bracket',4,4,190); </script>

</td>

</table>

</div></div>
</body>
</html>
