
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="shaftplain.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">

<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
  parametersLoader();
  
}

function updateSolid()
{
  HH();
  gProcessor.setJsCad();
  
}



function HH() {
  var i;
  i=document.getElementById('selectG').value;

  for(var j=1; j<=4;j++)
    {
        if (j==i) { 	document.getElementById('T'+j.toString()).style.display='block'; }
           else { document.getElementById('T'+j.toString()).style.display='none'; }
    }
}





</script>
<title>Shaft-Plain Connector</title>  
</head>
<body onload="onload(); HH();" class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');

</script>

<script>OpenScene('template');</script>
<script>HiddenLink();</script>

<table class="TTT" >
<td class="hd" colspan=2><center>

<h1>Shaft-Plain Connector</h1>

</td><tr>

<td width="50%" valign="top" class="tableleft" >

<div id="viewer" ></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT">
    <Td colspan=2 bgcolor=EDD99C  class="yellow"><b>Parameters:</b></td>
<Tr>
	<Td>Shaft diameter: <span style="float:right;"><input id="shaftD" value="5" size="2"></span></td>
    <Td>Base height: <span style="float:right;"><input id="H1" value="8" size="2"></span></td>
<Tr>
	<Td colspan=2>Base outer diameter: <span style="float:right;"><input id="BaseD" value="80" size="2"></span></td>
<Tr>
	<Td>Number of holes:<span style="float:right;"><input id="N" value="6" size="2" ></span></td>
    <Td >Hole diameter:<span style="float:right;"><input id="holed" value="3" size="2"></span></td>
<Tr>
	<Td colspan=2 >Hole distance from center:<span style="float:right;"><input id="radius" value="36" size="2"></span></td>
<Tr>
	<Td colspan=2><input type="checkbox" id="addcylinder" checked onchange="if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }">Add cylinder<br><span id="ACS" style="float:left;">
        Diameter:<input id="ACdiameter" value="30" size="2">Height:<input id="H2" value="10" size="2"><br>
        <input type="checkbox" id="addribs" checked>Add Ribs
        </span>
        </td>
<Tr>
	<Td class="yellow" colspan=2 bgcolor=EDD99C  ><b>Grip: </b><span style="float:right;">Grip Type: <select onchange="HH()" id="selectG">
          <option value="0">None</option>
          <option value="1">Keyway</option>
          <option value="2">Screw</option>
          <option value="3">Screw & nut</option>
	      <option value="4">Hex bolt</option>
          </select></b></td>
<Tr>
	<Td colspan=2>
		<span id="T1">Keyway width: <input id="T1width" value="3" size="2"> D: <input id="T1d" value="7" size="2"></span>
		<span id="T2">Screw diameter: <input id="T2diameter" value="3" size="2"></span>
		<span id="T3">Screw diameter: <input id="T3diameter" value="9" size="2"><br>Nut dist. accross flats<input id="T3nutdiameter" value="9" size="2">Nut thickness: <input id="T3thick" value="4" size="2"></span>
		<span id="T4">Hex dist. accross flats: <input id="T4diameter" value="3" size="2">Depth: <input id="T4depth" value="5" size="2"></span>
	</td>
<Tr>
	<Td class="yellow" colspan=2 bgcolor=FFBB6A><b>Spokes configuration: </b>(reduce material)</td>
<Tr>
	<Td>Number of spokes<span style="float:right;"><input id="Nspokes" value="6" size="2"></span></td>
	<Td>Spoke width<span style="float:right;"><input id="spokeWidth" value="3" size="2"></span></td>
<Tr>
	<Td>Angle<span style="float:right;"><input id="spokeAngle" value="0" size="2"></span></td>
	<Td>Fillet radius<span style="float:right;"><input id="spokeFillet" value="3" size="2"></span></td>

<Tr>
	<Td colspan=2 valign="bottom">
	<span style="float:right;"><img src="shaftplain_hex.png" height=60 valign=middle><img src="shaftplain_keyway.png" height=80 valign=middle></span></td>

</table>
</td>
<tr  class="bt">
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>
<script> PutExamples('shaftplain',4,4,190); </script>

</td>
<tr>

</table>
</div></div>

</body>
</html>
