
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="trussconnector.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">
  
<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
  parametersLoader(); 
}

function updateSolid()
{
  gProcessor.setJsCad();
}



</script>
<title>Tube Truss Connector</title>  
</head>
<body onload="onload()" class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');
  
 
  
</script>

<script> OpenScene('template'); HiddenLink();</script>

<table class="TTT"><td colspan=2 class="hd"><center>

<h1>Tube Truss Connector</h1>(Unverified)

</td><tr>

<td width="50%" valign="top" class="tableleft">

<div id="viewer"></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT" cellspacing=0 cellpadding=0 border=0 bordercolor=ffffff bgcolor=BACCff width="100%">
	<Td colspan=2 bgcolor=EDD99C background="../bg4.jpg"><b>Connector configuration:</b></td>

<Tr>

	<Td colspan=1>Tube diameter:<span style="float:right;"><input id="TubeD" value="8" size="2"></span></td>
	
	<Td colspan=1>Wall Shape<span style="float:right;">
	<select id="RESO" onchange=""> 
  <option value="36">Circular</option>
  <option value="4">Squared</option>
    </select></span></td>

<tr>
	<Td colspan=1>Wall Thickness:<span style="float:right;"><input id="WallT" value="2" size="2"></span></td>
	
	<Td colspan=1>Chamfer:<span style="float:right;"><input id="Chamfer" value="1" size="2"></span></td>

<tr>
	<Td colspan=2>Offset Distance (between joint center to the beginning of the tubes) when the angles between tubes are small - this offset has to be high to prevent intersection:<span style="float:right;"><input id="DLL" value="10" size="2"></span></td>
	
<tr>
	<Td colspan=2>Depth of the tube grip:<span style="float:right;"><input id="Depth" value="10" size="2"></span></td>

<tr>
	<Td colspan=2>Hole Diameter: (0 for disable) <span style="float:right;"><input id="HoleD" value="3" size="2"></span></td>

<Tr>
   	<Td colspan=2 bgcolor=EDD99C background="../bg4.jpg"><b>Rods Configuration:</b></td>
	
<Tr>
   <td colspan=2 ><center>
      <table id="GRID" width=100% bordercolor=8A9Ccf cellspacing=0 cellpadding=2>
        <td>Enable</td><td>Theta</td><td>Phi</td><td  rowspan=11><img src="spherical.png" width=200></td><tr>
        <td><input type="checkbox" ID="en1" checked></td><td><input id="theta1" value="90" size="5"></td><td><input id="phi1" value="0" size="5"></td><tr>
        <td><input type="checkbox" ID="en2" checked></td><td><input id="theta2" value="90" size="5"></td><td><input id="phi2" value="90" size="5"></td><tr>
        <td><input type="checkbox" ID="en3" checked></td><td><input id="theta3" value="0" size="5"></td><td><input id="phi3" value="0" size="5"></td><tr>
        <td><input type="checkbox" ID="en4"        ></td><td><input id="theta4" value="90" size="5"></td><td><input id="phi4" value="0" size="5"></td><tr>
        <td><input type="checkbox" ID="en5"        ></td><td><input id="theta5" value="90" size="5"></td><td><input id="phi5" value="0" size="5"></td><tr>
        <td><input type="checkbox" ID="en6"        ></td><td><input id="theta6" value="90" size="5"></td><td><input id="phi6" value="0" size="5"></td><tr>
        <td><input type="checkbox" ID="en7"        ></td><td><input id="theta7" value="90" size="5"></td><td><input id="phi7" value="0" size="5"></td><tr>
        <td><input type="checkbox" ID="en8"        ></td><td><input id="theta8" value="90" size="5"></td><td><input id="phi8" value="0" size="5"></td><tr>
        <td><input type="checkbox" ID="en9"        ></td><td><input id="theta9" value="90" size="5"></td><td><input id="phi9" value="0" size="5"></td><tr>
        <td><input type="checkbox" ID="en10"        ></td><td><input id="theta10" value="90" size="5"></td><td><input id="phi10" value="0" size="5"></td><tr>
        
      </table>
   </td>  

</table>
</td>
<tr class="bt">
<td colspan=2 >
<b>Examples: (click to edit)</b><br><center>
<script>PutExamples('trussconnector',4,4,190); </script></center>
</td>


</table>
</div></div>

</body>
</html>
