
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="box.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css"> 

<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
   updateSolid();
}

function updateSolid()
{
  gProcessor.setJsCad();
}

</script>
<title>Box with rotating lid for laser cutter</title>  
</head>
<body onload="onload()"  class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');

</script>

<script>OpenScene('template');</script>
<script>HiddenLink();</script>

<table class="TTT" ><td class="hd" colspan=2><center>
<h1>Box with rotating lid for laser cutter</h1>

</td><tr>

<td width="50%" valign="top" class="tableleft">

<div id="viewer"></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT" cellspacing=0><!--  Parameter Table --> 
	<Td colspan=2 class="yellow"><b>Parameters:</b></td>
<TR>
	<Td colspan=2>Width:<span style="float:right;"><input id="sizeW" value="120" size="2"></span></td>
<tr>
	<Td colspan=2>Depth:<span style="float:right;"><input id="sizeD" value="70" size="2"></span></td>
<tr>
	<Td colspan=2>Height:<span style="float:right;"><input id="sizeH" value="40" size="2"></span></td>
<tr>
  <Td colspan=2>Material Thickness:<span style="float:right;"><input id="sizeT" value="3" size="2"></span></td>
  
</table>
</td>
<tr  class="bt">
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>


</td>

</table>

<script src="../Down.JS" type="Text/javascript"></script>

</body>
</html>
