
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry,places"></script>
  <script src="../../page.js"></script>
  <script src="signdir.js"></script>
  <script src="signdirmaps.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/opentype.js"></script>
  <script src="../../openJScad/opentypef.js"></script>
  
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">
  <link rel="stylesheet" type="text/css" href="signdir.css">
  
  
  
<script>


var K=7; //max rows
var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
  LoadFontNoUpdateNoPreview('../../openJScad/fonts/arialbd.ttf');
  parametersLoader(); 
  showtr();
}

function updateSolid()
{
  gProcessor.setJsCad();
}

var CURROW;

function SET() {
    document.getElementById("lat"+CURROW.toString()).value=map.getCenter().lat();
    document.getElementById("lng"+CURROW.toString()).value=map.getCenter().lng();
    if((CURROW+1<=K)&&(document.getElementById("tr"+(CURROW+1).toString()).style.display=="none")) {
	    document.getElementById("tr"+(CURROW+1).toString()).style.display="table-row";
	    document.getElementById("cap"+(CURROW+1).toString()).value="destination";
	    document.getElementById("lat"+(CURROW+1).toString()).value="";
	    document.getElementById("lng"+(CURROW+1).toString()).value="";
	    }
    
    document.getElementById("cloc").style.visibility="hidden";
    document.getElementById("cloc").style.opacity="0";
   
	if(document.getElementById("tr3").style.display=="table-row") {
	    document.getElementById("del2").style.display="inline";
    }
    else {
	    document.getElementById("del2").style.display="none";
    }
		    
}

function CNSL() {
	document.getElementById("cloc").style.visibility="hidden";
    document.getElementById("cloc").style.opacity="0";
}


function fin(i){
    CURROW=i;
    document.getElementById("cloc").style.visibility="visible";
    document.getElementById("cloc").style.opacity="1";	 
}

function showtr(){
	for(var j=2;j<K;j++){
		if ((Number(document.getElementById("lat"+(j).toString()).value)!=0)||(Number(document.getElementById("lng"+(j).toString()).value)!=0)) {
			document.getElementById("tr"+(j+1).toString()).style.display="table-row";
		}
	}
}

		
		
function dele(i){
	for(var j=i;j<K;j++){
		   document.getElementById("cap"+(j).toString()).value=document.getElementById("cap"+(j+1).toString()).value;
	       document.getElementById("lat"+(j).toString()).value=document.getElementById("lat"+(j+1).toString()).value;
	       document.getElementById("lng"+(j).toString()).value=document.getElementById("lng"+(j+1).toString()).value;
	       document.getElementById("tr"+(j).toString()).style.display=document.getElementById("tr"+(j+1).toString()).style.display;
	}
    document.getElementById("tr"+(K).toString()).style.display="none";
    
    if(document.getElementById("tr3").style.display=="table-row") {
	    document.getElementById("del2").style.display="inline";
    }
    else {
	    document.getElementById("del2").style.display="none";
    }
    
}


</script>
<title>Directional Sign</title>  
</head>
<body onload="onload()" class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');
  
 
  
</script>

<script> OpenScene('template'); HiddenLink();</script>


    
    
<table class="TTT"><td colspan=2 class="hd"><center>

<h1>Directional Sign</h1>
<div ID="cloc">
   		 <input id="pac-input" class="controls" type="text" placeholder="Search Box">
   		 <div id="map-canvas"  style="height:400px; padding: 0px; margin: 0px;"></div>
   		 <button ID="SET" onclick="SET()">Set Position</button>
   		 <button ID="CNSL" onclick="CNSL()">Cancel</button>
    </div>
    
</td><tr>

<td width="50%" valign="top" class="tableleft">

<div id="viewer"></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT" cellspacing=0 cellpadding=0 border=0 bordercolor=ffffff bgcolor=BACCff width="100%">
	<Td colspan=2 bgcolor=EDD99C background="../bg4.jpg"><b>Dimensions:</b></td>

<Tr>

	<Td colspan=1>Signs thickness:<span style="float:right;"><input id="signT" value="2" size="2"></span></td>
    <Td colspan=1>Signs height:<span style="float:right;"><input id="signH" value="15" size="2"></span></td>
<tr>
	<Td colspan=1>Signs width:<span style="float:right;"><input id="signW" value="90" size="2"></span></td>
	<Td colspan=1>Text emboss:<span style="float:right;"><input id="textT" value="1" size="2"></span></td>
<tr>
	<Td colspan=1>Base diameter:<span style="float:right;"><input id="baseD" value="50" size="2"></span></td>
	<Td colspan=1>Base height:<span style="float:right;"><input id="baseH" value="50" size="2"></span></td>
<Tr>
   	<Td colspan=2 bgcolor=EDD99C background="../bg4.jpg"><b>L-bar:</b></td>
<tr>
    <Td colspan=1>L-bar edge:<span style="float:right;"><input id="Ledge" value="10" size="2"></span></td>
	<Td rowspan=2><center><img src="signdirLbar.png" height=50</img></td>
<tr>
	<td style="border-width: 0px 2px 2px 0px">L-bar thickness:<span style="float:right;"><input id="Lthick" value="2" size="2"></span></td>
<tr>
	<Td colspan=2>Shrink L-bar (so it will fit in easily if printed):<span style="float:right;"><input id="Lcon" value="0.2" size="2"></span></td>
<Tr>
   	<Td colspan=2 bgcolor=EDD99C background="../bg4.jpg"><b>Distance:</b></td>
<tr>
	<Td  colspan=2>Units<span style="float:right;">
		<SELECT id="unit" value="Km" onchange="">
		<option value="Km">Metric</option>
		<option value="mi">Imperial</option>
		</select>
	</span></td>
	
<Tr>
   	<Td colspan=2 bgcolor=EDD99C background="../bg4.jpg"><b>Origin & Destinations:</b></td>
<tr>
   <td colspan=2 ><center>
      <div style="overflow:auto; height:200px;">
      <table id="GRID" width=100% bordercolor=8A9Ccf cellspacing=0 cellpadding=2>
        <td>Caption</td><td>Lat.</td><td>Long.</td><td>update</td><td>delete</td>
        <tr id="tr1">		  				 <td>ORIGIN</td><td><input id="lat1" value="" size="5"></td><td><input id="lng1" value="" size="5"></td><td><button onclick="fin(1)">find</td><td></td>
        <tr id="tr2"> 						 <td><input id="cap2" value="destination" style="width: 120px;" ></td><td><input id="lat2" value="" size="5"></td><td><input id="lng2" value="" size="5"></td><td><button onclick="fin(2)">find</td><td><button id="del2" onclick="dele(2)" hidden>delete</td>
        <tr id="tr3" style="display: none;"> <td><input id="cap3" value="destination" style="width: 120px;" ></td><td><input id="lat3" value="" size="5"></td><td><input id="lng3" value="" size="5"></td><td><button onclick="fin(3)">find</td><td><button id="del3" onclick="dele(3)">delete</td>
        <tr id="tr4" style="display: none;"> <td><input id="cap4" value="destination" style="width: 120px;" ></td><td><input id="lat4" value="" size="5"></td><td><input id="lng4" value="" size="5"></td><td><button onclick="fin(4)">find</td><td><button id="del4" onclick="dele(4)">delete</td>
        <tr id="tr5" style="display: none;"> <td><input id="cap5" value="destination" style="width: 120px;" ></td><td><input id="lat5" value="" size="5"></td><td><input id="lng5" value="" size="5"></td><td><button onclick="fin(5)">find</td><td><button id="del5" onclick="dele(5)">delete</td>
        <tr id="tr6" style="display: none;"> <td><input id="cap6" value="destination" style="width: 120px;" ></td><td><input id="lat6" value="" size="5"></td><td><input id="lng6" value="" size="5"></td><td><button onclick="fin(6)">find</td><td><button id="del6" onclick="dele(6)">delete</td>
        <tr id="tr7" style="display: none;"> <td><input id="cap7" value="destination" style="width: 120px;" ></td><td><input id="lat7" value="" size="5"></td><td><input id="lng7" value="" size="5"></td><td><button onclick="fin(7)">find</td><td><button id="del7" onclick="dele(7)">delete</td>
       
      </table>
      </div>
   </td>  

</table>
</td>
<tr class="bt">
<td colspan=2 >
<b>Examples: (click to edit)</b><br><center>
<script>PutExamples('trussconnector',4,4,190); </script></center>
</td>


</table>

    
    
</div></div>

</body>
</html>
