<html>
<body bgcolor=FFFFFF  topmargin="0" leftmargin="0" rightmargin="0" style="margin:0 ; padding: 0 ">
<base target="_parent">

<table width="100%" cellspacing=0 cellpadding=5 border=0 bordercolor=ffffff bgcolor=ffffff> 
<td>
<font size=3 face="calibri">
<p>
<b>Dear User,</B>
<p align="justify" rightmargin="40">
This site is free to use, without any 
requirement on your behalf, and no ads.<p align="justify">

If you want to support the voluntary 
nature of the content we provide, 
please consider making a donation.
Any donation is significant as it
indicates that:<br>
1. You are a real person that chose to take this extra step.<br>
2. You feel gratitude towards our efforts.<p>

<b>Thank you,<br>
The 3D doctors team.<p><center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="UAWXM78KXM5SL">
<input type="image" src="https://www.paypalobjects.com/en_US/IL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</td></table>
</Body>
</html>