
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="circle.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>


  <style>

body {
  font: 14px/20px 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 820px;
  margin: 0 auto;
  padding: 0px;
}

textarea {
  width: 780px;
  height: 200px;
}

textarea:focus {
  outline: none;
}

canvas { cursor: move; }

#LIN a:link { color: #000077; }
#LIN a:visited { color: #000077; }
#LIN a:hover { color: #0066c7; }
#LIN a:active { color: #000077; }

#CLO a:link { color: #000000; }
#CLO a:visited { color: #000000; }
#CLO a:hover { color: #FFFFFF; }
#CLO a:active { color: #000000; }

#SAV a:link { color: #006630; }
#SAV a:visited { color: #006630; }
#SAV a:hover { color: #009944; }
#SAV a:active { color: #006630; }


  </style>
<link rels="stylesheet" href="openjscad.css" type="text/css">

<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
  parametersLoader();
  
}

function updateSolid()
{
  gProcessor.setJsCad();
}



function HH() {
  var i;
  i=document.getElementById('selectG').value;

  for(var j=1; j<=4;j++)
    {
        if (j==i) { 	document.getElementById('T'+j.toString()).style.display='block'; }
           else { document.getElementById('T'+j.toString()).style.display='none'; }
    }
}

function calD() {
	
  document.getElementById('N2').value = (document.getElementById('N3').value-document.getElementById('N1').value)/2
  document.getElementById('diameter1').value = document.getElementById('N1').value * document.getElementById('module').value;
  document.getElementById('diameter2').value = document.getElementById('N2').value * document.getElementById('module').value;
  document.getElementById('diameter3').value = document.getElementById('N3').value * document.getElementById('module').value;
}

function EX(i) {
  if (i==1) {
        document.getElementById('N').value=24;
	document.getElementById('module').value=2;
	document.getElementById('diameter').value=48;
	document.getElementById('pressureangle').value=20;
	document.getElementById('H1').value=5;
	document.getElementById('shaftD').value=5;
	document.getElementById('addcylinder').checked=true;  if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }

	document.getElementById('ACdiameter').value=25;
	document.getElementById('H2').value=7;
	document.getElementById('selectG').value=3;
	document.getElementById('T1width').value=4;
	document.getElementById('T1d').value=1;
	document.getElementById('T2diameter').value=3;
	document.getElementById('T3diameter').value=3;
	document.getElementById('T3nutdiameter').value=5.5;
	document.getElementById('T3thick').value=3;
	document.getElementById('T4diameter').value=10;
	document.getElementById('T4depth').value=6;
	document.getElementById('Nspokes').value=0;
	document.getElementById('spokeWidth').value=0;
	document.getElementById('spokeAngle').value=0;
	document.getElementById('spokeFillet').value=0;
	}

  if (i==2) {
        document.getElementById('N').value=24;
	document.getElementById('module').value=2;
	document.getElementById('diameter').value=48;
	document.getElementById('pressureangle').value=20;
	document.getElementById('H1').value=5;
	document.getElementById('shaftD').value=8;
	document.getElementById('addcylinder').checked=true;  if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }

	document.getElementById('ACdiameter').value=16;
	document.getElementById('H2').value=5;
	document.getElementById('selectG').value=1;
	document.getElementById('T1width').value=4;
	document.getElementById('T1d').value=1;
	document.getElementById('T2diameter').value=3;
	document.getElementById('T3diameter').value=3;
	document.getElementById('T3nutdiameter').value=5.5;
	document.getElementById('T3thick').value=3;
	document.getElementById('T4diameter').value=10;
	document.getElementById('T4depth').value=6;
	document.getElementById('Nspokes').value=6;
	document.getElementById('spokeWidth').value=3;
	document.getElementById('spokeAngle').value=30;
	document.getElementById('spokeFillet').value=2;
	}

  if (i==3) {
        document.getElementById('N').value=24;
	document.getElementById('module').value=2;
	document.getElementById('diameter').value=48;
	document.getElementById('pressureangle').value=20;
	document.getElementById('H1').value=6;
	document.getElementById('shaftD').value=8;
	document.getElementById('addcylinder').checked=true;  if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }

	document.getElementById('ACdiameter').value=16;
	document.getElementById('H2').value=3;
	document.getElementById('selectG').value=4;
	document.getElementById('T1width').value=4;
	document.getElementById('T1d').value=1;
	document.getElementById('T2diameter').value=3;
	document.getElementById('T3diameter').value=3;
	document.getElementById('T3nutdiameter').value=5.5;
	document.getElementById('T3thick').value=3;
	document.getElementById('T4diameter').value=10;
	document.getElementById('T4depth').value=6;
	document.getElementById('Nspokes').value=6;
	document.getElementById('spokeWidth').value=3;
	document.getElementById('spokeAngle').value=-30;
	document.getElementById('spokeFillet').value=2;
	}
  if (i==4) {
        document.getElementById('N').value=16;
	document.getElementById('module').value=4;
	document.getElementById('diameter').value=64;
	document.getElementById('pressureangle').value=20;
	document.getElementById('H1').value=8;
	document.getElementById('shaftD').value=5;
	document.getElementById('addcylinder').checked=false;  if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }

	document.getElementById('ACdiameter').value=16;
	document.getElementById('H2').value=3;
	document.getElementById('selectG').value=3;
	document.getElementById('T1width').value=4;
	document.getElementById('T1d').value=1;
	document.getElementById('T2diameter').value=3;
	document.getElementById('T3diameter').value=3;
	document.getElementById('T3nutdiameter').value=5.5;
	document.getElementById('T3thick').value=3;
	document.getElementById('T4diameter').value=10;
	document.getElementById('T4depth').value=6;
	document.getElementById('Nspokes').value=5;
	document.getElementById('spokeWidth').value=3;
	document.getElementById('spokeAngle').value=0;
	document.getElementById('spokeFillet').value=3;
	}

HH();
updateSolid();
}


</script>
<title>Spur Gear (involut) Template</title>  
</head>
<body onload="onload();">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');

</script>

<script src="../../UpMenu.JS" type="Text/javascript"></script>


<table cellspacing=0 cellpadding=0 border=2 bordercolor=ffffff bgcolor=BACCff width=800>
<td colspan=2 background="../bg1.jpg"><center>

<h1>Spur Gear</h1><B>(involute profile)
<script>HiddenLink();</script>
</td><tr>

<td width="50%" valign="top" >

<div id="viewer"></div>
</td>
<td valign=top width="50%">

<table cellspacing=0 cellpadding=0 border=0 bordercolor=ffffff bgcolor=BACCff width="100%">

	<Td colspan=7 bgcolor=EDD99C background="../bg4.jpg"><b>Parameters</b></td>
<Tr>
	<Td colspan=7 bgcolor=ffffff height=2></td>
<tr>
	<Td colspan=7 background="../bg3.jpg">Module:<span style="float:right;"><input id="module" value="4" size="2" onchange="calD()"></span></td>
<tr>
	<Td colspan=7 bgcolor=ffffff height=2></td>
<tr>
	<Td colspan=7  background="../bg3.jpg">Pressure angle:<span style="float:right;"><input id="pressureangle" value="20" size="2"></span></td>
<Tr>
	<Td colspan=7 bgcolor=ffffff height=2></td>
<tr>
	<Td colspan=7  background="../bg3.jpg">How many planets:<span style="float:right;"><input id="I" value="3" size="2"></span></td>
<Tr>

	<Td colspan=7 bgcolor=ffffff height=2></td>
<tr>
	<Td  colspan=7  background="../bg3.jpg">Gear height: <span style="float:right;"><input id="H1" value="8" size="2"></span></td>
<tr>
	<Td colspan=7 bgcolor=ffffff height=2></td>
<tr>
	<Td background="../bg4.jpg">Parameter:<span style="float:right;"></td>
	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg4.jpg">Sun</td>
   	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg4.jpg">Planet</td>
	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg4.jpg">Ring</td>
<tr>
	<Td colspan=7 bgcolor=ffffff height=2></td>
		
<Tr>
	<Td background="../bg3.jpg">Number of teeth (Z):<span style="float:right;"></td>
	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg3.jpg"><input id="N1" value="16" size="2" onchange="calD()"></span></td>
   	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg3.jpg"><input id="N2" value="16" size="2" readonly style="color:#aaaaaa" ></span></td>
	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg3.jpg"><input id="N3" value="16" size="2" onchange="calD()"></span></td>
<tr>
	<Td colspan=7 bgcolor=ffffff height=2></td>
		
<Tr>
	<Td background="../bg3.jpg">Pitch Diameter:<span style="float:right;"></td>
	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg3.jpg"><input id="diameter1" value="16" size="2" readonly style="color:#aaaaaa"></span></td>
   	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg3.jpg"><input id="diameter2" value="16" size="2" readonly style="color:#aaaaaa"></span></td>
	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg3.jpg"><input id="diameter3" value="16" size="2" readonly style="color:#aaaaaa"></span></td>

	

</table>
</td>
<tr>
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>

<a href="#"><img src="spurgear1.png" width=190 onclick="EX(1)"></a>
<a href="#"><img src="spurgear2.png" width=190 onclick="EX(2)"></a>
<a href="#"><img src="spurgear3.png" width=190 onclick="EX(3)"></a>
<a href="#"><img src="spurgear4.png" width=190 onclick="EX(4)"></a>
</td>
<tr>

</table>



</body>
</html>
