
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="internalgear.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/openjscad.js"></script>


  <style>

body {
  font: 14px/20px 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;

  margin: 0 auto;
  padding: 0px;
}

textarea {
  width: 780px;
  height: 200px;
}

textarea:focus {
  outline: none;
}

canvas { cursor: move; }

#LIN a:link { color: #000077; }
#LIN a:visited { color: #000077; }
#LIN a:hover { color: #0066c7; }
#LIN a:active { color: #000077; }

#CLO a:link { color: #000000; }
#CLO a:visited { color: #000000; }
#CLO a:hover { color: #FFFFFF; }
#CLO a:active { color: #000000; }

#SAV a:link { color: #006630; }
#SAV a:visited { color: #006630; }
#SAV a:hover { color: #009944; }
#SAV a:active { color: #006630; }



  </style>
<link rels="stylesheet" href="openjscad.css" type="text/css">

<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
parametersLoader();
  
}

function updateSolid()
{
  gProcessor.setJsCad();
}



function HH() {
  var i;
  i=document.getElementById('selectG').value;
  if (i>5) i=5;
  for(var j=1; j<=5;j++)
    {
        if (j==i) { 	document.getElementById('T'+j.toString()).style.display='block'; }
           else { document.getElementById('T'+j.toString()).style.display='none'; }
    }
}

function calD() {
  document.getElementById('diameter').value = document.getElementById('N').value * document.getElementById('module').value;
}

function calM() {
  document.getElementById('module').value = document.getElementById('diameter').value / document.getElementById('N').value;
}

function EX(i) {
  if (i==1) {
        document.getElementById('N').value=24;
	document.getElementById('module').value=2;
	document.getElementById('diameter').value=48;
	document.getElementById('pressureangle').value=20;
	document.getElementById('H1').value=5;
	document.getElementById('shaftD').value=5;
	document.getElementById('addcylinder').checked=true;  if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }

	document.getElementById('ACdiameter').value=25;
	document.getElementById('H2').value=7;
	document.getElementById('selectG').value=3;
	document.getElementById('T1width').value=4;
	document.getElementById('T1d').value=1;
	document.getElementById('T2diameter').value=3;
	document.getElementById('T3diameter').value=3;
	document.getElementById('T3nutdiameter').value=5.5;
	document.getElementById('T3thick').value=3;
	document.getElementById('T4diameter').value=10;
	document.getElementById('T4depth').value=6;
	document.getElementById('Nspokes').value=0;
	document.getElementById('spokeWidth').value=0;
	document.getElementById('spokeAngle').value=0;
	document.getElementById('spokeFillet').value=0;
	}

  if (i==2) {
        document.getElementById('N').value=24;
	document.getElementById('module').value=2;
	document.getElementById('diameter').value=48;
	document.getElementById('pressureangle').value=20;
	document.getElementById('H1').value=5;
	document.getElementById('shaftD').value=8;
	document.getElementById('addcylinder').checked=true;  if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }

	document.getElementById('ACdiameter').value=16;
	document.getElementById('H2').value=5;
	document.getElementById('selectG').value=1;
	document.getElementById('T1width').value=4;
	document.getElementById('T1d').value=1;
	document.getElementById('T2diameter').value=3;
	document.getElementById('T3diameter').value=3;
	document.getElementById('T3nutdiameter').value=5.5;
	document.getElementById('T3thick').value=3;
	document.getElementById('T4diameter').value=10;
	document.getElementById('T4depth').value=6;
	document.getElementById('Nspokes').value=6;
	document.getElementById('spokeWidth').value=3;
	document.getElementById('spokeAngle').value=30;
	document.getElementById('spokeFillet').value=2;
	}

  if (i==3) {
        document.getElementById('N').value=24;
	document.getElementById('module').value=2;
	document.getElementById('diameter').value=48;
	document.getElementById('pressureangle').value=20;
	document.getElementById('H1').value=6;
	document.getElementById('shaftD').value=8;
	document.getElementById('addcylinder').checked=true;  if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }

	document.getElementById('ACdiameter').value=16;
	document.getElementById('H2').value=3;
	document.getElementById('selectG').value=4;
	document.getElementById('T1width').value=4;
	document.getElementById('T1d').value=1;
	document.getElementById('T2diameter').value=3;
	document.getElementById('T3diameter').value=3;
	document.getElementById('T3nutdiameter').value=5.5;
	document.getElementById('T3thick').value=3;
	document.getElementById('T4diameter').value=10;
	document.getElementById('T4depth').value=6;
	document.getElementById('Nspokes').value=6;
	document.getElementById('spokeWidth').value=3;
	document.getElementById('spokeAngle').value=-30;
	document.getElementById('spokeFillet').value=2;
	}
  if (i==4) {
        document.getElementById('N').value=16;
	document.getElementById('module').value=4;
	document.getElementById('diameter').value=64;
	document.getElementById('pressureangle').value=20;
	document.getElementById('H1').value=8;
	document.getElementById('shaftD').value=5;
	document.getElementById('addcylinder').checked=false;  if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }

	document.getElementById('ACdiameter').value=16;
	document.getElementById('H2').value=3;
	document.getElementById('selectG').value=3;
	document.getElementById('T1width').value=4;
	document.getElementById('T1d').value=1;
	document.getElementById('T2diameter').value=3;
	document.getElementById('T3diameter').value=3;
	document.getElementById('T3nutdiameter').value=5.5;
	document.getElementById('T3thick').value=3;
	document.getElementById('T4diameter').value=10;
	document.getElementById('T4depth').value=6;
	document.getElementById('Nspokes').value=8;
	document.getElementById('spokeWidth').value=5;
	document.getElementById('spokeAngle').value=0;
	document.getElementById('spokeFillet').value=3;
	}

HH();
updateSolid();
}


</script>
<title>Internal Gear (involut) Template</title>  
</head>
<body onload="onload(); HH();">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');

</script>

<script src="../UpMenu.JS" type="Text/javascript"></script>


<table cellspacing=0 cellpadding=0 border=2 bordercolor=ffffff bgcolor=BACCff width=800>
<td colspan=2 background="../bg1.jpg"><center>

<h1>Internal Gear</h1><B>(involute profile)
<script>HiddenLink();</script>
</td><tr>

<td width="50%" valign="top" >

<div id="viewer"></div>
</td>
<td valign=top width="50%">

<table cellspacing=0 cellpadding=0 border=0 bordercolor=ffffff bgcolor=BACCff width="100%">

	<Td colspan=3 bgcolor=EDD99C background="../bg4.jpg"><b>Parameters</b></td>
<Tr>
	<Td colspan=3 bgcolor=ffffff height=2></td>
<Tr>
	<Td background="../bg3.jpg">Number of teeth (Z):<span style="float:right;"><input id="N" value="16" size="2" onchange="calD()"></span></td>
	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg3.jpg">Module:<span style="float:right;"><input id="module" value="4" size="2" onchange="calD()"></span></td>

<Tr>
	<Td colspan=3 bgcolor=ffffff height=2></td>
<Tr>

	<Td  background="../bg3.jpg">Pitch diameter:<span style="float:right;"><input id="diameter" value="64" size="2" onchange="calM()"></span></td>
	<Td width=2 bgcolor=fffff></td>
	<Td  background="../bg3.jpg">Pressure angle:<span style="float:right;"><input id="pressureangle" value="20" size="2"></span></td>
<Tr>
	<Td colspan=3 bgcolor=ffffff height=2></td>
<Tr>

	<Td background="../bg3.jpg">Gear height: <span style="float:right;"><input id="H1" value="8" size="2"></span></td>
	<Td width=2 bgcolor=fffff></td>
	<Td background="../bg3.jpg">Shaft diameter: <span style="float:right;"><input id="shaftD" value="5" size="2"></span></td>
<Tr>
	<Td colspan=3 bgcolor=ffffff height=2></td>


<Tr>
	<Td colspan=3 background="../bg3.jpg"><input type="checkbox" id="addcylinder" checked onchange="if (document.getElementById('addcylinder').checked) {document.getElementById('ACS').style.display='block';} else {document.getElementById('ACS').style.display='none'; }">Add cylinder<span id="ACS" style="float:right;">
        Diameter:<input id="ACdiameter" value="30" size="2">Height:<input id="H2" value="10" size="2"></span>
        </td>
<Tr>

	<Td colspan=3 bgcolor=ffffff height=2></td>

<Tr>
	<Td colspan=3 bgcolor=EDD99C  background="../bg4.jpg"><b>Grip</b><span style="float:right;">Grip Type: <select onchange="HH()" id="selectG">
          <option value="0">None</option>
          <option value="1">Keyway</option>
          <option value="2">Grubscrew</option>
          <option value="3">Grubscrew & nut</option>
	      <option value="4">Hex bolt</option>
	      <option value="5">Bearing slot - top</option>
	      <option value="6">Bearing slot - bottom</option>
	      <option value="7">Bearing slots - both sides</option>
          </select></b></td>

<Tr>
	<Td bgcolor=ffffff height=2 colspan=3></td>
<Tr>
	<Td colspan=3 background="../bg3.jpg">
		<span id="T1">Keyway width: <input id="T1width" value="3" size="2"> D: <input id="T1d" value="7" size="2"></span>
		<span id="T2">Screw diameter: <input id="T2diameter" value="3" size="2"></span>
		<span id="T3">Screw diameter: <input id="T3diameter" value="3" size="2"><br>Nut dist. accross flats<input id="T3nutdiameter" value="7" size="2">Nut thickness: <input id="T3thick" value="4" size="2"></span>
		<span id="T4">Hex dist. accross flats: <input id="T4diameter" value="3" size="2">Depth: <input id="T4depth" value="5" size="2"></span>
		<span id="T5">Diameter: <input id="T5diameter" value="22" size="2">Depth: <input id="T5depth" value="7" size="2"></span>
	</td>
	
<Tr>
	<Td bgcolor=ffffff height=2 colspan=3></td>
<Tr>
	<Td colspan=3 bgcolor=EDD99C  background="../bg4.jpg"><b>Spokes configuration (reduce material)</b></td>
<Tr>
	<Td bgcolor=ffffff height=2 colspan=3></td>
<Tr>
	<Td background="../bg3.jpg">Number of spokes<span style="float:right;"><input id="Nspokes" value="6" size="2"></span></td>
	<Td width=2 bgcolor=fffff></td>
	<Td background="../bg3.jpg">Spoke width<span style="float:right;"><input id="spokeWidth" value="3" size="2"></span></td>
<Tr>
	<Td bgcolor=ffffff height=2 colspan=3></td>

<Tr>
	<Td background="../bg3.jpg">Angle<span style="float:right;"><input id="spokeAngle" value="0" size="2"></span></td>

	<Td width=2 bgcolor=fffff></td>
	<Td background="../bg3.jpg">Fillet radius<span style="float:right;"><input id="spokeFillet" value="3" size="2"></span></td>
<Tr>
	<Td colspan=3 bgcolor=ffffff height=2></td>
<Tr>
	<Td colspan=3 valign="bottom">
	<span style="float:right;"><img src="spurgear_hex.png" height=60 valign=middle><img src="spurgear_keyway.png" height=80 valign=middle></span></td>

</table>
</td>
<tr>
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>

<a href="#"><img src="spurgear1.png" width=190 onclick="EX(1)"></a>
<a href="#"><img src="spurgear2.png" width=190 onclick="EX(2)"></a>
<a href="#"><img src="spurgear3.png" width=190 onclick="EX(3)"></a>
<a href="#"><img src="spurgear4.png" width=190 onclick="EX(4)"></a>
</td>
<tr>

</table>

<script src="../Down.JS" type="Text/javascript"></script>

</body>
</html>
