
<!DOCTYPE html>

<html><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script src="../../page.js"></script>
  <script src="../../openJScad/fontjscad.js"></script>
  <script src="../../openJScad/lightgl.js"></script>
  <script src="../../openJScad/openjscad.js"></script>
  <script src="../../openJScad/csg.js"></script>
  <script src="../../openJScad/opentype.js"></script>
  <script src="../../openJScad/opentypef.js"></script>
  <script src="pyramidtext.js"></script>
  <link rel="stylesheet" type="text/css" href="../template.css">
  <link rel="stylesheet" type="text/css" href="../../menu.css">
  
  

<script>

var gProcessor=null;

// Show all exceptions to the user:
OpenJsCad.AlertUserOfUncaughtExceptions();

function onload()
{
	
  
  gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
  UpdateFontList('SelectFont','Latin');
  UpdateLangList('SelectLang');
  //renderText(document.getElementById('textField').value.replace(/(\r\n|\n|\r)/gm,'|'),document.getElementById('Fnarrowing').value*0.01,document.getElementById('Fitalic').value*0.01);  
  //LoadFontUpdateSolid('../../openJScad/fonts/arial.ttf',document.getElementById('textField').value.replace(/(\r\n|\n|\r)/gm,'|'),1,0);

  parametersLoaderText(); 
     
 }

function updateSolid()
{
  gProcessor.setJsCad();
}

function patterndis(isit) {
  document.getElementById('PatternSize').disabled=isit;
  document.getElementById('PatternThickness').disabled=isit;
}

</script>
<title>Text on a Pyramid</title>  
</head>
<body onload="onload()" class="pg">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42895238-2', '3ddoctors.net');
  ga('send', 'pageview');

</script>

<script>OpenScene('template');</script>
<script>HiddenLink();</script>

<table class="TTT"><td class="hd" colspan=2><center>

<h1>Text on a Pyramid</h1>
<script>HiddenLink();</script>
<b>Hollow/filled pyramid with optional hole<br>
</td><tr>

<td width="50%" valign="top" class="tableleft">

<div id="viewer"></div>
</td>
<td valign=top width="50%" class="PRMS">

<table class="TTT">

	<Td colspan=2 bgcolor=EDD99C class="yellow" ><b>Pyramid Configuration</b></td>

<tr>
	<Td  >Base edge<span style="float:right;"><input id="BaseE" value="50" size="2"></span></td> 
	<Td  >Angle<span style="float:right;"><input id="Angle" value="60" size="2"></span></td>

<Tr>
	<Td  >Thickness<span style="float:right;"><input id="Thickness" value="1" size="2"></span></td>
	<Td  >Hole Edge<span style="float:right;"><input id="HoleE" value="5" size="2"></span></td>

<tr>
	<Td colspan=2 bgcolor=EDD99C   class="yellow"><b>Text:</b></td>

<Tr>

	<Td   colspan=2>
			<table id="GRID" border=0  cellspacing=0 cellpadding=0 width="100%">
			<td><center>Side A<br><textarea rows="4" cols="8" id="textField" onkeyup="renderText(document.getElementById('textField').value.replace(/(\r\n|\n|\r)/gm,'|'),document.getElementById('Fnarrowing').value*0.01,document.getElementById('Fitalic').value*0.01)" >A</textarea></td>
			<td><center>Side B<br><textarea rows="4" cols="8" id="textB">B</textarea></td>
			<td><center>Side C<br><textarea rows="4" cols="8" id="textC">C</textarea></td>
			<td><center>Side D<br><textarea rows="4" cols="8" id="textD">D</textarea></td>
			</table>
	
	</td>

<Tr>
	<Td   colspan=2>Space between lines<span style="float:right;"><input type="range" id="LineC" min="80" max="200" step="10" value="120"></span></td>

<tr>
	<Td   colspan=2><input type="checkbox" id="Equal">Equal font size on all sides</td>

<Tr>
	<Td  >Bottom margin<span style="float:right;"><input  size="2" type="text" class="text-input" value="2" id="BottomMargin"></span></td>
	 
	<Td  >Sides margin<span style="float:right;"><input  size="2" type="text" class="text-input" value="2" id="SideMargin"></span></td>

<tr>
	<Td colspan=2 bgcolor=EDD99C class="yellow"><b>Font:</b></td>


<TR>
	<TD>Font name: <span style="float:right;"><select style="width: 100px" id="SelectFont" onchange="LoadFont('../../openJScad/fonts/'+document.getElementById('SelectFont').value,document.getElementById('textField').value.replace(/(\r\n|\n|\r)/gm,'|'),document.getElementById('Fnarrowing').value*0.01,document.getElementById('Fitalic').value*0.01)"></select></span></td>
	 
	<TD>Charset:<span style="float:right;"><select id="SelectLang" onchange="UpdateFontList('SelectFont',document.getElementById('SelectLang').value)">
	
</select></span></td>

<Tr>
	<Td   >Italic: <input type="range" id="Fitalic" min="-105" max="105" step="15" value="0" onchange="renderText(document.getElementById('textField').value.replace(/(\r\n|\n|\r)/gm,'|'),document.getElementById('Fnarrowing').value*0.01,document.getElementById('Fitalic').value*0.01)"></td>
	 
	<Td   >Narrowing: <input type="range" id="Fnarrowing" min="25" max="175" step="15" value="100" onchange="renderText(document.getElementById('textField').value.replace(/(\r\n|\n|\r)/gm,'|'),document.getElementById('Fnarrowing').value*0.01,document.getElementById('Fitalic').value*0.01)"></td>

<Tr>
	<Td    colspan=2>Text preview (side A)<br><center>
        <table cellspacing=0 cellpadding=0 bordercolor=0 border=1><td bgcolor="ffffff" border=0>
	<canvas id="preview" width="390" height="50" class="text" style="border:0px solid #000000;"></canvas>
	</td></table>
	</td>

<Tr>
	<Td  >Text thickness (stick out)<span style="float:right;"><input id="TextThickness" value="3" size="2"></span></td>
	 
	<Td  ><input type="checkbox" id="mirror">Mirror text</td>



</table>
</td>
<tr class="bt">
<td colspan=2>
<b>Examples: (click to edit)</b><br><center>
<script>PutExamples("pyramidtext",4,4,190); </script>
</td>

</table>

</div></div>
</body>
</html>
